NOMBRE_APP="APP"
API_PORT=41
DB_PATH="DB"
DB_NAME="ZeroXAPI"
DB_MAX_USE=200
SECRET_KEY="g"
TOKEN_EXPIRATION_TIME_SEG=1800
DEBUGGER_MODE=True
DIR_MIDDLEWARE="Middlewares"
DIR_TAREAS="Tareas"
DIR_VIEWS="Assets/Web/views"
DIR_FRAMEWORK_FILES="Assets/web/riotjs"
DIR_ROUTES="Routes"
DIR_CONFIGURATIONS="Config"
FILE_PATH_INDEX_TEMPLATE=¨Assets/Web/index.web¨
WEB_FRAMEWORK="RIOTJS"